

<div class="container">
    <div class="typo-grid">
        


       <div class="grid_3 grid_5">
         <h3 class="head-top">物流查询</h3>
         <div class="beige_box m_b15">
              <h2 class="beige_box_inner txt_type06 bold">基本信息</h2>
         </div>
        <%= raw @logistics_details %>
        <div class="beige_box m_b15">
             <h2 class="beige_box_inner txt_type06 bold">物流历史</h2>
        </div>
         <%= raw @logistics_histories %>
       </div>

        
    </div>
</div>
