<div class="submit-ad main-grid-border">
    <div class="container">
      <h2 class="head">编辑分类</h2>
      <div class="post-ad-form">
		<%= render 'form' %>
		<%= link_to '显示', @category %> |
		<%= link_to '返回', categories_path %>
      </div>
    </div>  
</div>