<div class="submit-ad main-grid-border">
    <div class="container">
      <h2 class="head">发布日货</h2>
      <div class="post-ad-form">
	      <%= render 'form' %>
    	  <%= link_to '返回', products_path %>
      </div>
    </div>  
</div>
